::-webkit-scrollbar {
  display: none;
}
.RecipeFormWrapper {
  width: 90%;
  padding: 20px 5px 30px;
  display: grid;
  gap: 20px;
  margin: 20px auto;
  box-shadow: 10px 10px 0px #dcd8d8;
  border-radius: 10px;
  background-color: #f6f6f8;
  > h2 {
    font-size: 18px;
    text-align: center;
    color: #000000;
    text-shadow: #dcd8d8 5px 5px;
    text-transform: uppercase;
    font-weight: 900;
  }
  > form {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    gap: 25px;
    > .formLine {
      display: flex;
      flex-direction: column;
      gap: 5px;
      > label {
        font-size: 14px;
        font-weight: 800;
      }
      > input,
      select,
      div:has(input[type="checkbox"]),
      textarea {
        border: transparent;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 700;
        color: #000000;
        padding: 10px;
        box-shadow: 10px 10px 0px #dcd8d8;
        transition: box-shadow 250ms ease-in-out;
      }
      > input:focus,
      input:hover,
      select:focus,
      select:hover,
      div:has(input[type="checkbox"]):hover,
      textarea:hover,
      textarea:focus {
        box-shadow: 0px 0px 0px #dcd8d8;
      }
      > input::placeholder {
        font-size: 12px;
        font-weight: 700;
        color: #000000;
      }
      > textarea {
        resize: vertical;
      }
      > div:has(input[type="checkbox"]) {
        margin: 5px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background-color: #ffffff;
        cursor: pointer;
        max-width: 100px;
        > input[type="checkbox"] {
          cursor: pointer;
          width: 100%;
          height: 100%;
          position: relative;
          border: transparent;
          outline: transparent;
          background-color: transparent;
          z-index: 2;
          opacity: 0;
        }
        > label {
          position: absolute;
          z-index: 1;
          max-width: 100%;
        }
      }
      > div:has(input[type="checkbox"]:checked) {
        background-color: #c4c4c4;
        position: relative;
        > div:has(input[type="checkbox"]:checked::after) {
          content: "X";
          color: yellow;
          position: absolute;
          right: 5px;
        }
      }
    }
    > button {
      border: transparent;
      background-color: #ffffff;
      font-size: 15px;
      font-weight: 900;
      padding: 10px;
      border-radius: 50px;
      cursor: pointer;
      box-shadow: 10px 10px 0px #dcd8d8;
      transition: box-shadow 250ms ease-in-out;
    }
    > button:hover,
    button:focus {
      box-shadow: 0px 0px 0px #dcd8d8;
    }
  }
  > p {
    font-size: 18px;
    font-weight: 900;
  }
}
